/* Color Reference - https://www.happyhues.co/palettes/13 */


/* 				color and font styles					*/ 
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #0f0e17;
}

body, input, button {
	font-size: 16px;
}

h1, p, a, label, button {
	color: #fffffe;
}

button {
	background-color: #ff8906;
}



/*				position of elements on page					*/
main {
	display: grid;
	place-items: center;
}

form {
	position: relative;
}

form > label {
	display: block;
	margin: 20px;	
}

label > input {
	margin-left: 5px;
	width: 70vw;
	height: 35px;
}

button {
	margin-left: 15px;
	padding: 7px;
	cursor: pointer;
	border: none;
	border-radius: 7px;
}

.create-btn {
	position: absolute;
	right: 10px;
}

.creation-result {
	margin-top: 30px;
}



/*		modifications fordisplay above 700px width					*/
@media screen and (min-width: 700px) {
	body, input, button {
		font-size: 18px;
	}
	label > input {
		margin-left: 15px;
	}
	button {
		padding: 10px;
	}
}